@import "variable";

//animation transition
@mixin transition($duration) {
    -webkit-transition: all $duration ease;
    -moz-transition: all $duration ease;
    -ms-transition: all $duration ease;
    transition: all $duration ease;
}

//box-sizing
@mixin box-sizing($type) {
	-moz-box-sizing: $type;
	-webkit-box-sizing: $type;
	box-sizing: $type;
}

//transform
@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    transform: $transforms;
}
@mixin rotate($deg) { 
    @include transform(rotate(#{$deg}deg));
}

@mixin rotateZ($degZ) { 
    @include transform(rotateZ(#{$degZ}deg));
}

@mixin rotateY($degY) { 
    @include transform(rotateY(#{$degY}deg));
}

@mixin scale($scale) {
    @include transform(scale($scale));
}

@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

@mixin translateX ($x) {
    @include transform(translate($x));
}

@mixin translateY ($y) {
    @include transform(translate($t));
}

@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin arrow-up($size, $color) {
	width: 0;
	height: 0;
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-bottom: $size solid $color;
	border-top: none;
}

@mixin arrow-down($size, $color) {
	width: 0;
	height: 0;
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-top: $size solid $color;
	border-bottom: none;
}

@mixin arrow-left($size, $color) {
	width: 0;
	height: 0;
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-right: $size solid $color;
	border-left: none;
}

@mixin arrow-right($size, $color) {
	width: 0;
	height: 0;
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-left: $size solid $color;
	border-right: none;
}
