$colors:(
	mc:#f32440,
	grayA:#2e2e2e,
	grayB:#ddd,
	grayC:#f8f8f8,
	white:#fff,
	black:#000,
	transparent: transparent
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

%box-border {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}