<div class="nav-ham">
	<span></span>
	<span></span>
	<span></span>
</div>
<ul>
    <li><a href="index.html" alt="首頁">Top</a></li>
    <li><a href="about.html" alt="關於">About</a></li>
    <li><a href="portfolio.html" alt="作品">Portfolio</a></li>
</ul>
<script src="https://upload.gnjoy.com.tw/js/jquery-3.2.1.min.js"></script>
    <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
$('.nav-ham').on('click', function(){
      $('.nav').toggleClass('active')  
    })	
</script>