.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  padding-top: 60px;
}

/* ==========================================================================
   Header
   ========================================================================== */
.header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
  opacity: 1;
}
.header__container {
  border-bottom: 1px solid #ddd;
}
.header .logo {
  display: inline-block;
  width: 89px;
  height: 38px;
  background-image: url(../images/logo.png);
  background-position: 20px 15px;
  background-repeat: no-repeat;
  background-size: 89px 38px;
  vertical-align: middle;
  padding: 15px 20px 7px 20px;
}
.header .nav {
  float: right;
}
.header.is--hidden {
  -webkit-transform: translate3d(0, -60px, 0);
  -moz-transform: translate3d(0, -60px, 0);
  -ms-transform: translate3d(0, -60px, 0);
  -o-transform: translate3d(0, -60px, 0);
  transform: translate3d(0, -60px, 0);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  padding: 15px 20px;
  background-color: #f32440;
  text-align: center;
}
.footer__copyright {
  font-size: 12px;
  color: #fff;
}

/* ==========================================================================
   Menu
   ========================================================================== */
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu > li {
  float: left;
}
.menu__name {
  display: block;
  padding: 18px 20px;
  border-left: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
  color: #2e2e2e;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu__name--form {
  color: #f32440;
}
.menu__name--form:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #f32440;
  background-image: url(../images/icon-shop.png);
  background-position: 0 0;
  vertical-align: sub;
}
.menu__name--form.transparent:before {
  background-position: 0 -20px;
}
.menu__name:hover {
  color: #f32440;
}
.menu__name.current {
  color: #f32440;
}

.burger {
  display: none;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-left: 1px solid #ddd;
}
.burger__container {
  position: relative;
}
.burger--top, .burger--middle, .burger--bottom {
  display: block;
  position: absolute;
  height: 2px;
  background: #2e2e2e;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.burger--top {
  top: 2px;
  width: 16px;
}
.burger--middle {
  top: 9px;
  width: 20px;
}
.burger--bottom {
  top: 16px;
  width: 12px;
}
.burger.transparent {
  border-left: none;
}
.burger.transparent .burger--top,
.burger.transparent .burger--middle,
.burger.transparent .burger--bottom {
  background-color: #fff;
}

.mask--menu {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.5);
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 50;
}

/* ==========================================================================
   Responsive
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .container {
    min-width: 320px;
  }

  .footer {
    padding: 6px 0;
    text-align: center;
  }
  .footer__copyright .cn {
    display: block;
  }
  .footer__copyright .cn i {
    display: none;
  }

  .menu {
    position: fixed;
    right: 0;
    top: 61px;
    z-index: 100;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .menu > li {
    float: none;
    border-bottom: 1px solid #ddd;
  }
  .menu__name {
    padding: 18px 155px;
    border-left: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .menu__name--form {
    border-left: none;
  }
  .menu__name:hover {
    color: #2e2e2e;
  }

  .burger {
    display: block;
  }

  .openMenu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .openMenu .header {
    z-index: 9999;
  }
  .openMenu .header.transparent {
    padding-top: 0;
    background-color: #fff;
  }
  .openMenu .header.transparent .header__container {
    border-bottom: 1px solid #ddd;
  }
  .openMenu .header.transparent .logo {
    background-image: url(../images/logo-on@3x.png);
  }
  .openMenu .header.transparent .menu__name {
    color: #2e2e2e;
    border-left: none;
  }
  .openMenu .header.transparent .menu__name--form {
    color: #f32440;
  }
  .openMenu .header.transparent .menu__name--form:before {
    background-position: 0 0;
  }
  .openMenu .header.transparent .menu__name.current {
    color: #f32440;
  }
  .openMenu .menu {
    height: 100vh;
  }
  .openMenu .burger {
    border-bottom: 1px solid #fff;
  }
  .openMenu .burger.transparent {
    border-left: 1px solid #ddd;
  }
  .openMenu .burger.transparent .burger--top,
  .openMenu .burger.transparent .burger--middle,
  .openMenu .burger.transparent .burger--bottom {
    background-color: #2e2e2e;
  }
  .openMenu .burger--top, .openMenu .burger--middle, .openMenu .burger--bottom {
    left: 3px;
    width: 18px;
  }
  .openMenu .burger--top {
    top: 3px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .openMenu .burger--middle {
    width: 0%;
    opacity: 0;
  }
  .openMenu .burger--bottom {
    top: 16px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .openMenu .mask--menu {
    display: block;
  }
}
@media only screen and (max-width: 414px) {
  .main {
    padding-top: 56px;
  }

  .header .logo {
    width: 73px;
    height: 31px;
    background-size: 73px 31px;
    background-position: 14px 14px;
    padding: 14px 14px 10px 14px;
  }

  .menu {
    width: 100%;
    top: 56px;
  }
  .menu > li {
    display: block;
  }
  .menu__name {
    padding: 14px 0;
  }

  .burger {
    padding: 18px 18px 17px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .header .logo {
    background-image: url(../images/logo@3x.png);
  }
}
