@import 'base/reset';
@import 'base/layout';
@import 'helpers/mixin';
@import 'helpers/variables';
@charset "UTF-8";
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}
body{
	line-height: 1.5;
	font-family: $fontOs, $fontTC, $fontjh ;
	font-size: 16px;
	color:#303030;
	overflow:hidden;
	
}

.wrapper{
	width: 100%;
	margin: 0 auto;
	height:100%;
	position:relative;
	@include pd-box(50px, 50px);
	@include ts;
	@include breakpoint(tablet) {
		padding: 30px;
	}
	@include breakpoint(mobile_l) {
		padding: 15px;
	}
}

.main{
	position: relative;
	background-color:cr(gray);
	width: 100%;
	margin: 0 auto;
	height:100%;
	&:after{
		position: absolute;
		width: 50%;
		height: 100%;
		right: 0;
		background-color: cr(mc);	
		content:'';
		display: block;	
		z-index: 1;
	}
	&-hello{
		// display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 2vh 2vw;
		box-sizing: border-box;
		z-index: 2;
		&__en{
			position: absolute;
			top: 50%;
			width: 100%;
			font-size: 2.25vw;
			line-height: 1.67;
			font-weight: 600;
			letter-spacing: 2px;
			span{
				color:cr(dmc);
			}
		}
		&__tw{
			width: 100%;
			position: absolute;
			font-size: 12px;
			bottom: 0;
		}
	}
	&-photo{
		width: 100%;
		height: 100%;
		background:transparent url('../img/me003.png') right top no-repeat;
		background-size: auto 100%;
		position: absolute;
		z-index: 2;
	}
	@include breakpoint(desktop) {
		&-photo{
			background-position: 0% top;
		}
	}
	@include breakpoint(tablet) {
		&:after{
			width: 100%;
			height: 50%;
			bottom: 0;
		}
		&-hello{
			&__en{
				font-size: 4.8vw;
				top: 43vh;
			}
			&__tw{
				bottom: 3.5vh;
			}
		}
		&-photo{
			background-position: 100% top;
			background-size: auto 50%;
			z-index: 1;
		}
	}
	@include breakpoint(mobile_l) {
		&-hello{
			&__en{
				top: 46vh;
			}
			&__tw{
				bottom:auto;
				top: 65vh;
			}
		}

	}
	@include breakpoint(mobile_s) {
		&-hello{
			&__tw{
				top: 68vh;
			}
		}
	}
}
